#edit-property-form {
  .state-zip-condo-unit,
  .lot-street-city,
  .client-client-file-requester-type-status,
  .comp-ref-file-num-section,
  .client-id-file-section,
  .req-date-close-date-section,
  .books-pages-cert-doc {
    gap: 8px;
    width: 100%;
    align-items: center;

    .assigned {
      width: 310px;
    }

    .city,
    .street,
    .county,
    .clientName,
    .requester {
      flex: 1;
    }

    .lot {
      width: 100px;
    }

    .state,
    .zip {
      min-width: 82px;
    }

    .compRef,
    .fileNumber,
    .clientFileNumber {
      flex: 0.5;
    }
  }

  .instructions-section {
    textarea {
      resize: none;
      height: 50px;
      padding: 5px;
      width: 100%;
    }
  }
}
